.portfolio-item a {
  width: 100%;
  height: 100%;
}
.portfolio-item a img {
  width: 100%;
  height: 100%;
}
.randos-vedio-play {
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid white;
  width: 150px;
  margin: auto;
  font-size: 20px;
}
.randos-vedio-play:hover {
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background: white;
}
.whats-us p {
  margin-bottom: 20px;
  padding: 0 20px;
}
.images-boxes {
  width: 100%;
  padding: 0;
}
.images-boxes .box-card {
  padding: 0;
  margin: 10px auto 0px;
  display: inline-block;
  width: 19%;
}
.images-boxes .box-card img {
  width: 100%;
}
.images-boxes .box-card:hover {
  animation: image-big 0.5s ease-in-out;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.text-center {
  text-align: center;
}
.wechat-link {
  width: 200px;
  position: absolute;
  bottom: 85px;
  left: 0px;
  display: none;
  transform: scale(2.5);
}
.footer-icon-ui a {
  font-size: 25px!important;
}
#timeline {
  width: 1000px;
  height: 300px;
  overflow: hidden;
  margin: 100px auto;
  position: relative;
  background: url('../images/dot.png') left 45px repeat-x;
  color: #000000;
}
#dates {
  width: 1000px;
  height: 60px;
  overflow: hidden;
}
#dates li {
  list-style: none;
  float: left;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  background: url('../images/bigdot.png') center bottom no-repeat;
}
#dates a {
  line-height: 38px;
  padding-bottom: 10px;
  font-family: 'Lyon-Regular' !important;
  color: #000000;
}
#dates a:focus {
  text-underline: none;
}
#dates .selected {
  font-size: 30px;
  font-weight: 400;
}
#issues {
  width: 1000px;
  overflow: hidden;
}
#issues li {
  width: 1000px;
  list-style: none;
  float: left;
}
#issues li .issues-main {
  width: 80%;
  margin: auto;
}
#issues li .issues-main .issues-sub-left {
  float: left;
  width: 45%;
}
#issues li .issues-main .issues-sub-left img {
  height: 250px;
  margin: auto;
}
#issues li .issues-main .issues-sub-right {
  float: right;
  width: 55%;
  padding-left: 20px;
  text-align: left;
}
#issues li h1 {
  font-size: 30px;
  margin: 20px 0;
}
#issues li p {
  font-size: 20px;
  margin-right: 70px;
  margin: 10px;
  font-weight: normal;
  line-height: 22px;
}
#issues li img {
  height: 180px;
}
